@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  body {
    margin: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-pretendard), system-ui, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

@layer components {
  .wrapper {
    @apply max-w-wrapper px-wrapper mx-auto;
  }
}

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
