@import "tailwindcss";
@config "../tailwind.config.ts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-pretendard), system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
